// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#admin-page {padding-top: 0!important;}
#admin-page table img {width: 100%;}
#admin-page table .img-holder {width: 200px;}
.btn-status {width: 85px;}
.post-thumb {width: 100px!important;}